.dev-image{
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  margin-top: -2em;
  object-fit: cover;
  width: 100%;
}

.tracks{
  display: flex; 
  justify-content: space-around; 
  flex-flow: row wrap;
  margin: 10px auto;
}

.tracks-2{
  display: flex; 
  justify-content: space-around; 
  flex-flow: row wrap;
  margin: 20px auto;
  width: 75%;
}

.tracks-2 li{
  padding: 30px;
}

.tracks li{
  padding: 30px;
}

.dev-main-para{
  font-size: 0.1em;
}

.icon-container .fa-arrow-down{
  font-size: 1.1em;
  margin: 0 20px;
}

.icon-container{
  font-size: 1.3em;
}

.tracks-section{
  padding: 5em 0;
  width: 90%;
  margin: auto;
  font-family: var(--font-barlow);
  padding-top: 9em;
}
.tracks-section a.text-center {
  background: #5E5DF0;
  border-radius: 4px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}
.tracks-section h1 span{
  color: var(--blue);
}

.tracks-container ul{
  display: flex;
  justify-content: space-around;
}

.tracks-container ul li a i{
  font-size: 6em;
  margin-bottom: 0.5em;
  color: #d3d1d1;
}

.tracks-container a{
  display: flex;
  justify-content: space-around;
  font-size: 1.2em;
  transition: all 0.1s;
  color: var(--dark-blue);
}

.tracks-container a:hover{
  color: var(--blue)
}