@import url('./csit.css');

.fa-solid{
  transition: all 0.2s;
}

.fa-server:hover{
  color: rgba(33, 33, 241, 0.5);
}

.fa-robot:hover{
  color: rgba(253, 77, 253, 0.548);
}

.fa-bolt:hover{
  color: rgba(255, 255, 0, 0.637);
}

.fa-helmet-safety:hover{
  color: rgba(252, 172, 24, 0.5);
}

.fa-wrench:hover{
  color: rgba(16, 255, 156, 0.5);
}

.fa-bolt:hover{
  color: rgba(255, 255, 0, 0.637);
}

.sem-container{
  margin-top: 10em;
  position: absolute;
  right: 0;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
}

.sem-container ul{
  display: flex;
}

.btn-sem{
  padding: 20px;
  background: rgba(92, 92, 255, 0.5);
  border: 1px solid var(--blue);
  width: 150px;
  border-radius: 15px;
  margin: 0px 1em 0px 1em;
  color: rgb(65, 65, 65);
  transition: all 0.2s;
}

.btn-sem:hover{
  background: rgba(92, 92, 255, 0.171);
  border: 1px solid var(--blue);
  color: black;
}

.syllabus-link{
  width: fit-content;
  margin: auto;
  margin-top: 2em ;
  font-size: 1.1em !important;
  padding-bottom: 12px !important;
  border-bottom: 1px dashed var(--blue) !important;
}