  
  .facilities{
    font-family: var(--font-barlow);
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
  }
  
  .facilities p{
    color: var(--black);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
    text-align: center;
  }
  
  .facilities h1{
    font-size: 36px;
    font-weight: 600;
  }
  
  .facilities-row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
  }
  
  .facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
  }
  .facilities-col img{
    width: 50%;
    height: 50%;
    border-radius: 10px;
  }
  .facilities-col p{
    padding: 0;
  }
  .facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
  }