  
  .facilities{
    font-family: var(--font-barlow);
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 12em;
  }
  
  .facilities p{
    margin-top: 3em;
    color: var(--black);
    font-family: var(--font-roboto);
  }
  
  .facilities-col p{
    margin-top: 1.5em;
  }
  
  .facilities h1{
    font-size: 3em;
    font-family: var(--font-barlow);
    color : var(--dark-blue);
  }
  
  .facilities-row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
  }
  
  .facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
  }

.facilities-col img{
  width: 100%;
  border-radius: 10px;
}
.facilities-col .image{
  width: 100%;
  height: 45vh;
  object-fit: cover;
}
  .facilities-col p{
    padding: 0;
    margin-bottom: 1em;
  }
  .facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
  }
  .facilities-col a{
    color: var(--dark-blue);
    border-bottom: 1px dashed var(--dark-blue);
    padding: 0.8em;
    transition: all 0.1s;
  }
  .facilities-col a:hover{
    color: var(--blue);
  }

  @media(max-width: 700px){
    .facilities{
      padding-top: 6em;
    }
    .facilities-row{
        flex-direction: column;
    }
  }