.FAQ {
  margin: auto;
  padding-top: 6em;
  text-align: center;
  border: 3px solid grey;
  border-radius: 20px;
  box-shadow: 0 5px 5px 0;
  height: 40%;
  width: 70%;
  padding: 30px;
  padding-bottom: 10px;
  margin-bottom: 30px;
}

.FAQ .faq-row:hover{
  background: #b1b2ee;
  padding-left: 40px;
  transition: all 0.6s ease 0s;
  color: white;
}

.FAQ h1 {
  font-size: 3em;
  font-family: var(--font-barlow);
  color: var(--dark-blue);
}

.FAQ .acad {
  font-weight: 450;
}

.FAQ p {
  margin-top: 3em;
  color:black;
  font-family: var(--font-roboto);
}

.faq-box{
    margin-top: 4em;
    margin-bottom: 6em;
}

.faq-row{
    width: 60%;
    border-radius: 15px;
    margin: auto;
    margin-bottom: 0.8em;
    padding: 1.5em;
    background: var(--button-color);
}


.faq-btn{
  width: 100%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  color: var(--dark-blue);
  outline: none;
  padding: 1px 0;
}


.faq-content>p{
  margin: 20px 0 auto;
}

.faq-content{
  height: 0;
  text-align: justify;
  font-size: 14px;
  overflow: hidden;
  height: 0;
  transition: all 0.4s;
  position: relative;
}

.faq-content > a{
  position: revert;
  top: 8em !important;
  color: var(--background-color);
  padding-bottom: 5px;
}
