.main-container{
  width: 90vw;
  min-height : 100vh;
  margin: 0 auto;
  position: relative;
}

.text-container{
  margin-top: 10em;
  width: 35%;
  position: absolute;
  left: 0;
  font-family: var(--font-barlow);
  color : var(--dark-blue);
  
}

.text-container .title{
  color: var(--blue);
  font-size: 3em;
}

.text-container .exclaimation{
  color: var(--blue);
}


.image-container{
  width: 45%;
  position: absolute;
  right: 0;
  margin-top: 10em;
}

.img-responsive{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
}


.fa-discord{
  font-size: 1.1em;
  color: var(--blue);
  padding-right: 12px;
}

.studyroom-container{
  width: 90%;
  min-height: 100vh;
  font-family: var(--font-barlow);
  padding-top: 10em;
}

.studyroom-container .main-container-studyroom .img-container{
  position: relative;
  width: 50%;
  height: 70vh;
}

.sr-img{
  position: absolute;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.61) 0px 2px 5px 0px;
  width: 20em;
  height: 13em;
  object-fit: cover;
  transition: all 0s;
}

.acadmic{
  right: 20%;
  top: 0;
  z-index: 1;
}

.devdo{
  z-index: 2;
  top: 25%;
  left: 0;
}


.dsa{
  right: 0;
  bottom: 0;
  z-index: 3;
}

.text-container-studyroom{
  width: 40%;
  
}
.text-container-studyroom h1{
  font-size: 3.5em;
}
.text-container-studyroom span{
  color: var(--blue);
}

.room-main{
  font-size: 1.1em;
  margin-top: 5em;
}

.room-main span{
  color: var(--blue);
}

.room-main h1{
  color: var(--dark-blue);
  padding-bottom: 12px;
  transition: all 0.1s;
  width: fit-content;
}

.room-main a h1:hover{
  border-bottom: 2px dashed var(--blue);
}

.img-buy-coffee{
  width: 35px;
  height: 35px;
}