nav{
  position: fixed;
  background: white;
  z-index: 999999;
}

nav > .nav-container{
  padding: 0 1.2em;
}

nav > .nav-links > ul > li{
  color: var(--gray);
  transition: all 0.5s;
}

nav > .nav-links > ul > li:hover{
  color: var(--dark-blue);
  text-decoration: none;
}