nav{
  position: fixed;
  background: white;
  z-index: 999999;
}

nav > .nav-container{
  padding: 0 1.2em;
}

nav > .navbar-links > ul > li{
  color: var(--gray);
  transition: all 0.5s;
}

nav > .navbar-links > ul > li:hover{
  color: var(--dark-blue);
  text-decoration: none;
}

#responsive-nav{
  display: none;
}

@media(max-width: 700px){
  #responsive-nav{
    display: block;
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 0;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
  }
  #responsive-nav > .faq-box, #responsive-nav > .faq-row{
    margin: 0 !important;
    padding: 0;
  }
  .res-nav-row{
    margin-bottom: 0 !important;
    width: 100% !important;
    border: none !important;
  }
  .nav-items-response{
    margin-top: 2em;
    padding: 0;
  }
  .nav-items-response > li{
    margin: 1em 0;
    text-align: center;
    font-size: 1.2em;
    color : var(--dark-blue);
  }
  #nav{
    display: none;
  }
}