@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Lora&family=Noto+Serif&family=Roboto:wght@400&display=swap');


/* IMPORTING COMPONENTS CSS */
@import url('./components-css/navbar.css');
@import url('./components-css/main.css');
@import url('./components-css/about.css');
@import url('./components-css/footer.css');
@import url('./components-css/subscribe.css');
@import url('./development/main.css');
@import url('./development/subpages.css');
@import url('./academics/main.css');
@import url('./components-css/faq.css');
@import url('./academics/syllabus.css');
@import url('./interview/main.css');


html,
body {
  overflow-x: hidden;
  --background-color: white;
  background-color: var(--background-color);
  transition: var(--transition-delay);
}

#load {
  margin: auto;
  width: 100%;
  height: -webkit-fill-available;
  position: fixed;
  background: #fff url(/src/assets/spin.gif) no-repeat center;
  z-index: 9999999;
}



html::-webkit-scrollbar {
  width: 0.7vw;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body.dark {

  --background-color: #000000;
  --laoding-bg: #000;
  /* --blue: white; */
  color: white;
  --blue: #7FB5FF;
  --dark-blue: #7FB5FF;
  --button-color: #1363DF;
  --button-discord: transparent;
  --text-color: #7FB5FF;
  --text-color1: #1363DF;
  --transition-delay: 1s;
  --text-color2: #ffffff;
  --text-color3: #7FB5FF;
  --text-color4: #f0f0f0;
  --text-color5: #b8b8b8;
  --text-color6: #4245f3;
  --text-color7: #a8a8a8;
  --text-color8: #bcd8ff;
  --text-color9: #f0f0f0;
  --box-shadow-1: rgba(255, 255, 255, 0.6);
  --box-shadow-2: rgba(0, 145, 255, 0.15);
  --bg-color: #595959;
  --theme-icon-bg: var(--button-discord);

}


:root {
  --primary-color: #edf2fc;
  --secondary-color: #212121;
}

.dark-mode {
  --primary-color: #000106;
  --secondary-color: #fff;
}

ul {
  margin: 0;
}

#switch-btn {
  width: 20px;
  cursor: pointer;
}

div .nav-links ul {
  display: flex;
  text-align: right;
}

html::-webkit-scrollbar-thumb {
  background: linear-gradient(#3756f2, #4245F3);
  border: .25em solid blue black;
  border-radius: 100vw;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: #5c5ef5;
}

html::-webkit-scrollbar-track {
  background-color: #ffffff;
  border-radius: 100vw;
  margin-block: .5em;
}

:root {

  /* COLOR PALETTE */
  --dark-blue: #081B61;
  --blue: #4245f3;
  --gray: #ebecce;
  --black: #141E27;
  --grey: rgb(88, 84, 84);
  --button-color: #4245f3;
  --button-discord: transparent;
  --text-color: #141E27;
  --text-color1: #141E27;
  --transition-delay: 1s;
  --loading-bg: #fff;
  --text-color2: black;
  --text-color3: #4245f3;
  --text-color4: #081B61;
  --text-color5: #141E27;
  --text-color6: #081B61;
  --text-color7: black;
  --text-color8: #141E27;
  --text-color9: #4245f3;
  --box-shadow-1: rgba(60, 64, 67, 0.3);
  --box-shadow-2: rgba(60, 64, 67, 0.15);
  --bg-color: #b1b2ee;
  --theme-icon-bg: #e4e4e4;




  /* FONT FAMILY */
  --font-barlow: 'Barlow';
  --font-nato: 'Noto Serif';
  --font-roboto: 'Roboto';

}

.add-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
}


body,
a {
  color: var(--text-color2);
  font-family: var(--font-roboto);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.center {
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: var(--font-barlow);
  font-size: 1.8em;
  color: var(--text-color4);
}

li {
  text-decoration: none;
  list-style: none;
}

.button-all {
  border: none;
  outline: none;
  padding: 0.5em 1.5em;
  border-radius: 5px;
  transition: all 0.5s;
  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
  border: 1px solid var(--button-color);
}

.btn-join-anchor-tag {
  color: var(--text-color2);
}

.btn-join-anchor-tag:hover {
  color: white;
}

/* .button-primary {
  background: transparent;
  background-color: root;
  color: var(--text-color2);

}

.button-primary:hover {
  background-color: #0b1db4;
  color: white;
} */

/* .btn-join,
.btn-discord {
  color: var(--text-color2);
  padding: 0.6em 1.5em;
  border-radius: 5px;
  font-size: 1.1em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
/* border:1px solid var(--button-color); */
/* } */


.button-all {
  border: none;
  outline: none;
  padding: 0.5em 1.5em;
  border-radius: 35px;
  transition: all 0.5s;
}

.button-primary {
  background: var(--blue);
  color: var(--gray);
}

.btn-join,
.btn-discord {
  color: white;
  padding: 0.8em 2.5em;
  font-size: 1.1em;
}

.btn-discord {
  background: white;
  color: var(--dark-blue);
  margin: 0 20px;
  padding: 0.8em 1.2em;
}

a:hover {
  text-decoration: none;
}

.button-primary:hover {
  text-decoration: none;
  color: white;
}

.logo:hover {
  color: var(--dark-blue);
}

.bs {
  box-shadow: #5e5df0 0 10px 20px -10px;
}

/* .btn-discord {
  border: none;
  outline: none;
  padding: 0.5em 1.5em;
  border-radius: 5px;
  transition: all 0s;
  background: var(--button-discord);
  color: white;
  margin: 0 20px;
  padding: 0.8em 1.2em;
  border: 1px solid var(--button-color);
}

.btn-discord:hover {
  text-decoration: none;
  background-color: #0b1db4;
  color: white;
}

.btn-discord:hover a {
  text-decoration: none;
  color: white;
}

.btn-discord:hover .fa-discord {
  background-color: #eeebeb;
  color: rgb(0, 0, 0);
}

a:hover {
  text-decoration: none;
} */

/* .img-responsive {
  margin-right: 1.5em;
  width: 72%;
  height: 100%;
} */

#text-three {
  color: #4245f3;
}

.icon-container {
  color: var(--dark-blue);
}

.googleForm {
  font-weight: bold;
}

.googleForm:hover {
  color: var(--blue);
}

.button-primary:hover {
  text-decoration: none;
  color: white;
}

.btn-side-by-side:hover a,
.btn-side-by-side:hover .fa-discord {
  color: white;
}

.logo:hover {
  color: var(--dark-blue);
}

.footer-row2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-divider {
  border-radius: 50px;
  margin: 0 auto;
}

#join_study_room {
  color: #ffffff;
  font-weight: bold;
}

/* .feedback-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: center;
  border: 2px solid white;
  padding: 2rem;
}

.feedback-col:hover {
  box-shadow: var(--box-shadow-1) 0px 1px 2px 0px, var(--box-shadow-2) 0px 1px 3px 1px;
}

.feedback div.about {
  width: 100%;
  height: 100%;
  padding: 5px 20px;
  padding-bottom: 15px;
  border-radius: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
  margin-top: 2em;
}

.feedback-row .mt-1 {
  background: #4245f3;
  border-radius: 3px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter, Helvetica, "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol", "Android Emoji", EmojiSymbols, -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", sans-serif;
  font-size: 16px;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.feedback-row .mt-1:hover {
  color: white;
}

.feedback p {
  margin-top: 3em;
  color: var(--text-color);
  font-family: var(--font-roboto);
}

.feedback-col p {
  margin-top: 1.5em;
}

.feedback h1 {
  font-size: 3em;
  font-family: var(--font-barlow);
  color: var(--dark-blue);
}

.feedback h1 span {
  color: #4245f3;
}

.feedback-row {
  margin: 4%;
  display: flex;
  justify-content: space-between;
}

.feedback-col {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: center;
}

.feedback-col-2 {
  flex-basis: 31%;
  border-radius: 10px;
  margin-bottom: 5%;
  text-align: center;
  box-shadow: var(--box-shadow-1) 0px 1px 2px 0px, var(--box-shadow-2) 0px 1px 3px 1px;
}

.feedback-col text-center img :hover {
  box-shadow: 10px 10px 5px #000000;
  -moz-box-shadow: 0px 10px 5px #000000;
  -webkit-box-shadow: 0px 10px 5px #000000;
  cursor: pointer;
}

.feedback-col img {
  width: 100%;
  border-radius: 10px;
}

.feedback-col .image {
  width: 100%;
  height: 45vh;
  object-fit: cover;
}

.feedback-col p {
  padding: 0;
  margin-bottom: 1em;
}

.feedback-col h3 {
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: center;
  color: var(--text-color1);
}

.feedback-col a {
  color: var(--dark-blue);
  border-bottom: 1px dashed var(--dark-blue);
  padding: 0.8em;
  transition: all 0.1s;
}

.feedback-col a:hover {
  color: var(--blue);
}

.font-barlow{
  font-family: var(--font-barlow);
} */



iframe {
  transition: all 0.1s;
}

iframe:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* Loading Animation */

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--laoding-bg);
}

.loading {
  position: relative;
}

.content {
  color: var(--blue);
  display: inline-block;
  margin-left: 10px;
  font-weight: 400;
  font-size: 3em;
  font-family: var(--font-barlow);
}

.bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: 15px;
}

.bounceball:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--blue);
  transform-origin: 50%;
  -webkit-animation: bounce 500ms alternate infinite ease;
  animation: bounce 500ms alternate infinite ease;
}

@-webkit-keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }

  35% {
    height: 15px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0;
  }
}

@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }

  35% {
    height: 15px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0;
  }

}

/* new  */
.theme-toggle-button {
  background-color: var(--theme-icon-bg);
  color: var(--black);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50% !important;
  height: 35px !important;
  width: 35px !important;
  padding: 0px !important;
  box-shadow: none;
  margin-left: 25px;
}

/* .theme-toggle-button:hover {
  background-color: var(--text-color2);

} */

.subscribe-btn>a {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px !important;
}



@media(max-width: 700px) {
  .image-container {
    margin-top: 2em !important;
    padding: 0px;
    width: auto;
    margin: auto;
  }

  .btn-discord-small {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .main-btn-container {
    margin-top: 2em !important;
    margin: auto !important;
    /* display: flex !important; */
    justify-content: space-between !important;
  }

  .btn-join,
  .btn-discord-small {
    margin: 0;
  }
}

@media (max-width: 1200px) {
  .main-container h1 {
    font-size: 2em;
  }

}



/* @media (max-width: 849px) {
  .image-container {
    margin: 0 auto;
    margin-top: 5em;
  }
} */


/* @media (min-width: 851px) {
  .image-container {
    margin: 0 auto;
    margin-top: 10em;
  }
} */



@media (max-width: 440px) {

  .image-container img {
    height: 15em;
    /* width: auto; */
  }
}

@media (max-width: 420px) {
  .image-container img {
    height: 14em;
    /* width: auto; */
  }
}

@media (max-width: 380px) {
  .image-container img {
    height: 13em;
    /* width: auto; */
  }
}

@media (max-width: 365px) {
  .image-container img {
    height: 12em;
    /* width: auto; */
  }
}

@media (max-width: 340px) {
  .image-container img {
    height: 11em;
    /* width: auto; */
  }
}

.common-style {
  padding: 40px 0;
  margin: 0px;
  float: left;
  width: 100%;
  justify-content: center;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
}

.row {
  margin-left: 0;
  margin-right: 0;
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.col {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
}

.titles,
.links {
  text-decoration-line: underline;
  font-size: 25px;
}

a,
label {
  cursor: pointer;
}

.communities {
  text-decoration: underline;
  font-size: 25px;
}

.definition {
  font-size: 20px;
}

span#faq-quest {
  width: 80%;
  text-align: start;
}

.image-container {
  max-width: 100%;
  height: auto;
}

.imgfg {
  max-width: 50%;
}

.neonText {
  color: rgb(36, 98, 173);
  /* text-shadow: 0 0 2px #fff, 0 0 10px #4842fd, 0 0 1px #fff, 0 0 2px rgb(51 161 241), 0 0 2px rgb(51 161 241), 0 0 2px rgb(51 161 241), 0 0 10px rgb(51 161 241), 0 0 11px rgb(51 161 241); */
  text-align: center;
  border: 1px solid #fff;
  border-radius: 2px;
  padding: 0.36em;
  /* box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #0b1db4, 0 0 0.2rem #4245f3, 0 0 1rem #fff5c1, inset 0 0 1.3rem #272aff; */
  animation: pulsate 1.5s infinite alternate;
}

/* .acadLogo{
    text-shadow: 0 0 5px blue !important;

  } */