@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Lora&family=Noto+Serif&family=Roboto:wght@400&display=swap');


/* IMPORTING COMPONENTS CSS */
@import url('./components-css/navbar.css');
@import url('./components-css/main.css');
@import url('./components-css/about.css');
@import url('./components-css/footer.css');
@import url('./components-css/subscribe.css');
@import url('./development/main.css');
@import url('./development/subpages.css');
@import url('./academics/main.css');
@import url('./components-css/faq.css');
@import url('./academics/syllabus.css');
@import url('./interview/main.css');


html, body{
  overflow-x: hidden;
  --background-color: white;
  background-color: var(--background-color);
  transition: var(--transition-delay);
}



html::-webkit-scrollbar{
  width: 0.7vw;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body.dark{
  --background-color:#3D3C42;
  --blue:white;
  --dark-blue:#7FB5FF;
  --button-color:#1363DF;
  --button-discord:#7FB5FF;
  --text-color:#7FB5FF;
  --text-color1:#1363DF;
  --transition-delay: 1s;
  
}
:root{
  --primary-color: #edf2fc;
  --secondary-color: #212121;
  /* --background-color: white; */
}
.dark-mode{
  --primary-color: #000106;
  --secondary-color: #fff;
}

ul{
  margin: 0;
}

#switch-btn{
  width: 20px;
  cursor: pointer;
}

div .nav-links ul{
  display: flex;
  text-align: right;
}

html::-webkit-scrollbar-thumb{
  background: linear-gradient(#3756f2,#4245F3);
  border: .25em solid blue black;
  border-radius: 100vw;  
}

html::-webkit-scrollbar-thumb:hover{
  background-color: #5c5ef5;
}

html::-webkit-scrollbar-track{
  background-color: #ffffff;
  border-radius: 100vw;
  margin-block: .5em;
}

:root{

  /* COLOR PALETTE */
  --dark-blue : #081B61;
  --blue : #4245f3;
  --gray: #ebecce;
  --black: #141E27;
  --grey: rgb(88, 84, 84);
  --button-color:#4245f3;
  --button-discord:white;
  --text-color:#141E27;
  --text-color1:#141E27;
  --transition-delay: 1s;
  
  


  /* FONT FAMILY */
  --font-barlow : 'Barlow';
  --font-nato : 'Noto Serif';
  --font-roboto : 'Roboto';

}

.add-shadow{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
}


body, a{
  color: var(--black);
  font-family: var(--font-roboto);
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.space-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  font-family: var(--font-barlow);
  font-size: 1.8em;
  color : var(--dark-blue);
}

li{
  text-decoration: none;
  list-style: none;
}

.button-all{
  border: none;
  outline: none;
  padding: 0.5em 1.5em;
  border-radius: 5px;
  transition: all 0.5s;
  box-shadow: #5e5df0 0 10px 20px -10px;
}  

.btn-join-anchor-tag {
  color: white;
}

.btn-join-anchor-tag:hover {
  color: white;
}

.button-primary{
  background: var(--button-color);
  color: var(--gray);
}

.button-primary:hover{
  background-color: #0b1db4;
}

.btn-join, .btn-discord{
    color: white;
    padding: 0.6em 1.5em;
    border-radius: 5px;
    font-size: 1.1em;
    box-shadow: #5e5df0 0 10px 20px -10px;
}

.btn-discord{
    border: none;
    outline: none;
    padding: 0.5em 1.5em;
    border-radius: 5px;
    transition: all 0.5s;
    background: var(--button-discord);
    color: var(--dark-blue);
    margin: 0 20px;
    padding: 0.8em 1.2em;
}

.btn-discord:hover {
    background-color: #eeebeb;
}
a:hover{
  text-decoration: none;
}
.img-responsive {
    margin-right: 1.5em;
    width: 33em;
    height: 29.5em;
}
.googleForm{
  font-weight: bold;
}

.googleForm:hover{
  color: var(--blue);
}

.button-primary:hover{
  text-decoration: none;
  color : white;
}

.logo:hover{
  color: var(--dark-blue);
}
.footer-row2{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer-divider{
  margin: 0 auto;
}

#join_study_room{
  color: #ffffff;
  font-weight: bold;
}

iframe{
  transition: all 0.1s;
}

iframe:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* Loading Animation */

.wrapper{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: white;
}

.loading{
  position: relative;
}

.content{
  color: var(--blue);
  display: inline-block;
  margin-left: 10px;
  font-weight: 400;
  font-size: 3em;
  font-family: var(--font-barlow);
}

.bounceball {
  position: relative;
  display: inline-block;
  height: 37px;
  width: 15px;
}
.bounceball:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--blue);
  transform-origin: 50%;
  -webkit-animation: bounce 500ms alternate infinite ease;
          animation: bounce 500ms alternate infinite ease;
}

@-webkit-keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }
}

@keyframes bounce {
  0% {
    top: 30px;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }
  35% {
    height: 15px;
    border-radius: 50%;
    transform: scaleX(1);
  }
  100% {
    top: 0;
  }

}
 /* new  */
 .theme-toggle-button{
  background-color: var(--button-discord);
  color: var(--black);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50% !important;
  height: 35px !important;
  width: 35px !important;
  padding: 0px !important;
  box-shadow: none;
  margin-left: 25px;
}