@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Lora&family=Noto+Serif&family=Roboto:wght@400&display=swap');


/* IMPORTING COMPONENTS CSS */
@import url('./components-css/navbar.css');
@import url('./components-css/main.css');
@import url('./components-css/about.css');
@import url('./components-css/footer.css');
@import url('./components-css/subscribe.css');
@import url('./development/main.css');
@import url('./academics/main.css');

:root{

  /* COLOR PALETTE */
  --dark-blue : #081B61;
  --blue : #4245f3;
  --gray: #ebecce;
  --black: #141E27;
  --grey: rgb(88, 84, 84);


  /* FONT FAMILY */
  --font-barlow : 'Barlow';
  --font-nato : 'Noto Serif';
  --font-roboto : 'Roboto';

}

.add-shadow{
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
}


body, a{
  color: var(--black);
  font-family: var(--font-roboto);
  overflow-x: hidden;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo{
  font-family: var(--font-barlow);
  font-size: 1.8em;
  color : var(--dark-blue);
}

li{
  text-decoration: none;
  list-style: none;
}

.button-all{
  border: none;
  outline: none;
  padding: 0.5em 1.5em;
  border-radius: 35px;
  transition: all 0.5s;
}

.button-primary{
  background: var(--blue);
  color: var(--gray);
}

.btn-join, .btn-discord{
  color: white;
  padding: 0.8em 2.5em;
  font-size: 1.1em;
}

.btn-discord{
  background: white;
  color : var(--dark-blue);
  margin : 0 20px;
  padding: 0.8em 1.2em;
}

a:hover{
  text-decoration: none;
  color : white;
}

.logo:hover{
  color: var(--dark-blue);
}