.interview-container > .tracks-container > h2 > span{
  color: var(--blue);
  border-bottom: 1px solid var(--dark-blue);
  padding-bottom: 12px;
  border: 1px solid #000;
}

iframe{
  width: 35em;
  height: 18em;
  margin: 0 1em;
}

.heading{
  font-size: 2em;
  color: var(--dark-blue);
}

.sub-heading a{
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  border-bottom: 2px dashed var(--blue);
}